<h1>Inicia sesión</h1>
<h3>y pide tu pizza favorita</h3>


<!-- <form class="custom-form" method="post">
    <input id="name" type="text" class="form-control" placeholder="Usuario" required="required" [(ngModel)]="user.name"
        name="name"><br />
    <input id="password" type="password" class="form-control" placeholder="Contraseña" required="required"
        [(ngModel)]="user.password" name="password"><br />
    <button type="submit" (click)="login()">Empieza tu pedido</button>
</form> -->

